body {
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-size: 100% 400px;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}


.container {
    margin-top: 80px;
    background-color: white;
    padding: 0px;
    width: 400px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-content: center;
    color: hsl(224, 23%, 55%);
}

.os {
    text-align: center;
    font-weight: 900;
    font-size: 1.6em;
    margin-top: 20px;
    color: hsl(223, 47%, 23%);
}

.hero{
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.para {
    margin: 3px 20px;
    text-align: center;
}

.plan {
    background-color: hsl(225, 100%, 94%, 0.3);
    margin: 5px 40px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px;
    font-size: 0.9em;
}

.annual {
    font-weight: 900;
    color: hsl(223, 47%, 23%);;
}

.ap {
    margin-left: 20px;
}

.ap > p {
    margin: 0px;
}

.plan > a {
    text-align: center;
    margin: auto 0px;
}

.btn {
    background-color: hsl(245, 75%, 52%);
    margin: 5px 40px;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px 0px;
    font-weight: 700;
}

.btn-primary {
    box-shadow: 5px 15px 10px hsl(225, 100%, 94%);
}

.cancel {
    border: none;
    background-color: white;
    margin: 0px 10px 30px 10px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.content {
    font-size: 16px;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }